body {
  min-height: 100vh;
  position: relative;
}

* {
  font-family: "Roboto", sans-serif !important;
}

h2 {
  font-size: 30px !important;
  font-weight: 600 !important;
}

button {
  background-color: #3282B8;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  -webkit-transition: 200ms;
  transition: 200ms;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
button:hover {
  background-color: #0F4C75;
  color: #BBE1FA;
}
button:focus {
  background-color: #0F4C75;
  color: #BBE1FA;
}
button:active {
  background-color: #1B262C;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

hr {
  border-color: #BBE1FA;
  margin: 0;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
header .logo {
  font-family: "Chakra Petch", sans-serif !important;
  font-weight: 600;
  font-size: 40px;
  color: #1B262C;
  line-height: 30px;
}
header #cart {
  margin: none;
  background: none;
  border: none;
  cursor: pointer;
}
header input#cart-radio {
  display: none;
}
header .full-screen {
  opacity: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
header .full-screen-label {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
}

#cart-menu {
  display: none;
  height: 100%;
  width: 400px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 80px;
  top: 0;
  right: -400px;
  -webkit-transition: 200ms;
  transition: 200ms;
  z-index: 2;
  background-color: white;
  border-radius: 20px 0 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#cart-menu #ordered-products {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
}
#cart-menu #ordered-products li {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5px 4fr 5px 2fr 5px 1fr;
  grid-template-columns: 2fr 4fr 2fr 1fr;
  grid-column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
#cart-menu #ordered-products li a {
  text-decoration: none;
  color: inherit;
}
#cart-menu #ordered-products li img {
  width: 100%;
}
#cart-menu #ordered-products li .delete-product {
  background: none;
  width: 30px;
  cursor: pointer;
  padding: 0;
}
#cart-menu #ordered-products li .delete-product img {
  width: 100%;
}
#cart-menu .close {
  margin: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
#cart-menu a#take-order {
  background-color: #3282B8;
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 800;
  -webkit-transition: 200ms;
  transition: 200ms;
}
#cart-menu a#take-order:hover {
  background-color: #0F4C75;
  color: #BBE1FA;
}
#cart-menu a#take-order:focus {
  background-color: #0F4C75;
  color: #BBE1FA;
}
#cart-menu a#take-order:active {
  background-color: #1B262C;
}

#cart-radio:checked ~ .full-screen {
  z-index: 1;
  opacity: 1;
  -webkit-transition-property: background;
  transition-property: background;
}
#cart-radio:checked ~ .full-screen .full-screen-label {
  z-index: 2;
  display: block;
}
#cart-radio:checked ~ .full-screen #cart-menu {
  -webkit-transform: translate(-400px);
          transform: translate(-400px);
  z-index: 3;
  -webkit-transition: 200ms;
  transition: 200ms;
}

main {
  padding-bottom: 150px;
}
main .filter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid grey;
  padding-top: 25px;
}
main .filter h2 {
  margin-bottom: 20px;
}
main .filter ul li input.filter-input {
  display: none;
}
main .filter ul li input.filter-input + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.6em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
}
main .filter ul li input.filter-input + label:hover {
  color: #585858 !important;
}
main .filter ul li input.filter-input + label:hover span {
  background-color: #BBE1FA;
}
main .filter ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .filter ul li input.filter-input:checked + label > span {
  border: 0.5em solid #3282B8;
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}
main .filter ul li input.filter-input:checked + label > span:before {
  content: "";
  position: absolute;
  top: 0.4em;
  left: 0.15em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  border-color: #BBE1FA;
  -webkit-animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
          animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}
main .products {
  padding-left: 20px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.8em;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  grid-auto-flow: row;
  padding-top: 25px;
}
main .products .product-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(25, 25, 25, 0.3);
          box-shadow: 0 0 20px rgba(25, 25, 25, 0.3);
  position: relative;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
main .products .product-card a.img {
  margin-bottom: 0.7em;
}
main .products .product-card a.img img {
  width: 100%;
}
main .products .product-card a.title {
  font-size: 1em;
  margin-bottom: 0.8em;
  text-decoration: none;
  color: #191919;
}
main .products .product-card span.price {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
  header .nav {
    padding-left: 15px;
    padding-right: 15px;
  }
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .container .filter {
    border-right: 0;
    border-bottom: 1px solid black;
    text-align: center;
  }
  main .container .filter ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .container .products {
    padding-right: 20px;
    justify-items: center;
  }
}
footer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3282B8;
  padding: 30px 0 !important;
  color: white;
  bottom: 0;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 500px) {
  #cart-menu {
    width: 100%;
  }
}
@-webkit-keyframes shrink-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes shrink-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #BBE1FA;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #BBE1FA;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #BBE1FA;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #BBE1FA;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
main {
  margin-top: 50px;
  padding-bottom: 150px;
}
main .gallery {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  max-width: 468px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .gallery .itc-slider-wrapper {
  background-color: transparent;
}
main .info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding-top: 50px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .info h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 60px;
}
main .info .price {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 35px;
}
main .info button {
  max-width: 180px;
}
main .itc-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
main .itc-slider-item img {
  max-width: 100%;
  height: auto;
}
main .characteristics {
  padding-top: 50px;
}
main .characteristics .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .characteristics .container h3 {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 600;
}
main .characteristics .container .table {
  margin-bottom: 20px;
  width: 100%;
}
main .characteristics .container .table td {
  width: 50%;
  padding: 5px;
  color: #585858;
}
main .characteristics .container .table thead {
  width: 100%;
  font-weight: 600 !important;
}
main .characteristics .container .table thead td {
  color: black;
}

@media screen and (max-width: 700px) {
  .info {
    padding-left: 10px !important;
  }
}