$light:#BBE1FA;
$btn: #3282B8;
$btn-focus: #0F4C75;
$black: #1B262C;


body{
    min-height: 100vh;
    position: relative;
}
*{
    font-family: "Roboto", sans-serif !important;
}
h2 {
    font-size: 30px !important;
    font-weight: 600 !important;
}
button {
    background-color: $btn;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    transition: 200ms;
    border: 0;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: $btn-focus;
        color: $light;
    }

    &:focus {
        background-color: $btn-focus;
        color: $light;
    }
    &:active{
        background-color: $black;
    }
}
.container{
    width: 100%;
    margin: auto;
    max-width: 1170px;
    display: flex;
}
hr {
    border-color: $light;
    margin: 0;
}

header{
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }
    .logo{
        font-family: "Chakra Petch", sans-serif !important;
        font-weight: 600;
        font-size: 40px;
        color: $black;
        line-height: 30px;
    }
    #cart{
        margin: none;
        background: none;
        border: none;
        cursor: pointer;
    }
    input#cart-radio{
        display:none ;
    }
    .full-screen{
        opacity: 0;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        transition-duration: 200ms;
        z-index: -1;
        background: rgb(0 0 0 / 50%);
        left: 0;
            top: 0;
    }
    .full-screen-label{
        position: fixed;
        width: 100%;
        height: 100%;
        display: none;
        left: 0;
        top: 0;
    }
}
#cart-menu{
    display: none;
    height: 100%;
    width: 400px;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 80px;
    top: 0;
    right: -400px;
    transition: 200ms;
    z-index: 2;
    background-color: white;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    #ordered-products{
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 20px;
        li{
            list-style: none;
            display: grid;
            grid-template-columns: 2fr 4fr 2fr 1fr;
            grid-column-gap: 5px;
            align-items: center;
            margin-bottom: 20px;
            a{
                text-decoration: none;
                color: inherit;
            }
            img{
                width: 100%;
            }
            .delete-product{
                background: none;
                width: 30px;
                cursor: pointer;
                padding: 0;
                img{
                    width: 100%;
                }
            }
        }
    }
    .close{
        margin: none;
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    a#take-order{
        background-color: $btn;
        color: white;
        text-decoration: none;
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        font-size: 20px;
        font-weight: 800;
        transition: 200ms;
        &:hover{
            background-color: $btn-focus;
            color: $light;
        }
        &:focus{
            background-color: $btn-focus;
            color: $light;
        }
        &:active{
            background-color: $black;
        }
    }
}
#cart-radio:checked { 

        
    
    & ~ .full-screen{
        z-index: 1;
        opacity: 1;
        transition-property: background;
        .full-screen-label {
            z-index: 2;
            display: block;
        }
        #cart-menu {
            transform: translate(-400px);
            z-index: 3;
            transition: 200ms;
        }
    }

}
main{
    padding-bottom: 150px;
    .filter{
        flex: 1;
        border-right: 1px solid grey;
        padding-top: 25px;
        h2{
            margin-bottom: 20px;
        }
        ul{
            li{
                input.filter-input{
                    display: none ;
                }
                input.filter-input + label{
                    position: relative;
                    display: flex;
                    margin: .6em 0;
                    align-items: center;
                    font-weight: 500;
                    cursor: pointer;
                    font-size: 20px;
                    &:hover {
                        color: #585858 !important;
                       & span{
                            background-color: $light;
                       }
                    }
                }
                span{
                    display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 1em;
                        width: 1em;
                        height: 1em;
                        background: transparent;
                        border: 2px solid #9E9E9E;
                        border-radius: 2px;
                        cursor: pointer;
                        transition: all 250ms cubic-bezier(.4, .0, .23, 1);
                        box-sizing: border-box;
                        
                }
                input.filter-input:checked + label > span{
                    border: .5em solid $btn;
                    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
                }
                input.filter-input:checked + label > span:before{
                    content: "";
                    position: absolute;
                    top: 0.4em;
                    left: 0.15em;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                    transform: rotate(45deg);
                    transform-origin: 0% 100%;
                    border-color: $light;
                    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
                }
            }
        }
    }
    .products{
        padding-left: 20px;
        flex: 3;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 0.8em; 
        align-items: stretch;
        grid-auto-flow: row;
        padding-top: 25px;
        .product-card{
            background: #fff;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(25, 25, 25, .3);
            position: relative;
            max-width: 300px;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            a.img{
                margin-bottom: 0.7em;
                img {
                    width: 100%;
                }
            }
            a.title{
                font-size: 1em;
                margin-bottom: 0.8em;
                text-decoration: none;
                color: #191919;
            }
            span.price{
                font-weight: 600;
                font-size: 1.2em;
                margin-bottom: 1em;
            }

            
        }
    }
}

@media screen and (max-width: 700px) {
    header .nav{
        padding-left: 15px;
        padding-right: 15px;
    }
    main .container{
        flex-direction: column;
        .filter{
            border-right: 0;
            border-bottom: 1px solid black;
            text-align: center;
            ul{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
        .products{
            padding-right: 20px;
            justify-items: center;
        }
    }
}

footer{
    display: flex !important;
    justify-content: center;
    background-color: $btn;
    padding: 30px 0!important;
    color: white;
    bottom: 0;
    width: 100%;
    position: absolute;
}

@media screen and (max-width: 500px){
    #cart-menu{
        width: 100%;
    }
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(.85);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: $light;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    33% {
        width: .2em;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    100% {
        width: .2em;
        height: .5em;
        border-color: $light;
        transform: translate3d(0, -.5em, 0) rotate(45deg);
    }
}